[submodule "third_party/opentelemetry-proto"]
	path = third_party/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "third_party/robin-map"]
	path = third_party/robin-map
	url = https://github.com/Tessil/robin-map
